body {
    background-color: #F25F5C;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

body.rest {
    background-color: #00A896;
}

#restMessage {
    font-size: 30px;
    color: #05668D;
    display: none;
}

body.rest #restMessage {
    display: block;
}

.text-primary {
    color: #fff;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#clock {
    font-size: 50px;
}

#progress {
    position: relative;
}

#progress span {
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 45px;
}


button {
    font-size: 14px;
    color: #fff;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: 0 !important;
}

.btn {
    background-color: rgba(0, 0, 0, 0.09);
    border: none;
}

.btn:hover, .btn:hover:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.time-action .btn-primary {
    background-color: transparent;
}

.time-action .btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.text-center {
    text-align: center;
}

.col-md-offset-3 {
    margin-left: 25%;
}

.col-md-3 {
    width: 25%;
    float: left;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before, .row:after {
    display: table;
    content: ' ';
}
.row:after {
    clear: both;
}